<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Candidate</a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="app.home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="app.steps">Steps</a></li>
            <li ui-sref-active="active"><a ui-sref="app.candidates">Candidates</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 ui-view-container">
            <div class="slide" ui-view="main"></div>
        </div>
    </div>
</div>

