<table class="table table-striped candidates">
  <thead>
    <tr>
      <th>
    		
      </th>
      <th>
		    <a href="#" ng-click="ctrl.sortType = 'name'; ctrl.sortReverse = !ctrl.sortReverse">
	        Name
	        <span ng-show="ctrl.sortType == 'name' && !ctrl.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        	<span ng-show="ctrl.sortType == 'name' && ctrl.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
	      </a>
      </th>
      <th>
		    <a href="#" ng-click="ctrl.sortType = 'enabled'; ctrl.sortReverse = !ctrl.sortReverse">
	        Enable?
	        <span ng-show="ctrl.sortType == 'enabled' && !ctrl.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        	<span ng-show="ctrl.sortType == 'enabled' && ctrl.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
	      </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr candidate-line toggle-selection="ctrl.toggleSelection(id)" candidate="candidate" ng-repeat="candidate in ctrl.candidates | orderBy:ctrl.sortType:ctrl.sortReverse" class="animate-repeat"></tr>
  </tbody>
  <tfoot>
  	<tr>
  		<td>
  			<a href="#" ng-click="ctrl.removeCandidate()" class="btn btn-default">Remove selected</a>
  		</td>
  		<td>
  			<form name="candidateForm" ng-submit="candidateForm.$valid && ctrl.addCandidate()" novalidate>
				    <div class="input-group">
		          <input name="name" required minlength="5" maxlength="30" ng-model="ctrl.newCandidate.name" type="text" placeholder="Name" class="form-control">
		          <span class="input-group-btn">
		            <button  type="submit" class="btn btn-default">Add</button>
		          </span>
		        </div>
		        <div ng-messages="!candidateForm.name.$valid && candidateForm.name.$error" class="error">
    				    <span ng-message="required">Candidate name is required!</span>
    				    <div ng-messages-include="error-messages"></div>
    				</div>
	       </form>
  		</td>
  		<td>
  		</td>
  	</tr>
  </tfoot>
</table>