<td>
	<input type="checkbox" value="ctrl.candidate.id" ng-checked="ctrl.selected.indexOf(ctrl.candidate.id) > -1" ng-click="ctrl.toggleSelection({id: ctrl.candidate.id})">
</td>
<td>
	{{ctrl.candidate.name}}
</td>
<td>
	<div class="btn-group">
	    <label class="btn btn-default" ng-click="ctrl.updateEnabled(ctrl.candidate)" ng-model="ctrl.candidate.enabled" btn-radio="true">Enable</label>
	    <label class="btn btn-default" ng-click="ctrl.updateEnabled(ctrl.candidate)" ng-model="ctrl.candidate.enabled" btn-radio="false">Disable</label>
	</div>
</td>